In [9]:
import pandas as pd
import numpy as np

In [10]:
Tasks =pd.read_csv('/Users/yad/Desktop/Project/Weekly report 2021 copy.csv', encoding = "ISO-8859-1")

In [11]:
Tasks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 482 non-null    object
 1   Accomodation         24 non-null     object
 2   Huawei?              66 non-null     object
 3   Location             457 non-null    object
 4   Level                459 non-null    object
 5   Type                 482 non-null    object
 6   Description          458 non-null    object
 7   Comments             81 non-null     object
 8   Date Done            482 non-null    object
 9   Maintenance-Time(h)  482 non-null    float64
dtypes: float64(1), object(9)
memory usage: 39.0+ KB

In [24]:
#changing data types to desired ones and renaiming columns as well as renaming typos

In [25]:
Tasks.Type.replace('pLumbing', "plumbing", inplace=True)

In [13]:
Tasks.dropna(how="all", axis=0, inplace=True)

In [14]:
Tasks.rename(columns={"Huawei?":"Huawei", "Date Done": "Date_Done"}, inplace=True)

In [15]:
Tasks["Date"] = Tasks.Date.astype("datetime64[ns]")
Tasks["Date_Done"] = Tasks.Date_Done.astype("datetime64[ns]")

In [16]:
Tasks["Accomodation"]=Tasks.Accomodation.replace(np.NAN, "0").replace("y", 1)

In [17]:
Tasks["Huawei"]=Tasks.Huawei.replace(np.NAN, "0").replace("y", 1)

In [26]:
Tasks["Days_Taken"]= Tasks["Date_Done"]- Tasks['Date']

In [27]:
Tasks

,Date,Accomodation,Huawei,Location,Level,Type,Description,Comments,Date_Done,Maintenance-Time(h),Days_Taken
0,2021-01-12,0,0,Lobby Reception,Low,Civil,All area with Complete offices,NaN,2021-01-12,8.0,0 days
1,2021-01-14,0,0,Staff Cafeteria,Low,Civil,needed painting,NaN,2021-01-14,8.0,0 days
2,2021-01-15,0,0,Lobby Faade,Urgent,Civil,Fixing Alucobond,NaN,2021-01-15,7.0,0 days
3,2021-01-16,0,0,Outside lobby,Medium,General,Fountains are not working,"Big fountain lacks lights, small fountain the ...",2021-02-20,2.0,35 days
4,2021-01-16,0,0,Spa,Urgent,Civil,Turkish Bath stones have fallen,NaN,2021-01-20,8.0,4 days
...,...,...,...,...,...,...,...,...,...,...,...
477,2021-07-09,0,0,304,Medium,AC,Actuator was not fully in place,NaN,2021-07-09,1.0,0 days
478,2021-07-10,0,0,306,Medium,AC,filter not clean,NaN,2021-07-10,0.6,0 days
479,2021-07-10,0,1,256,Medium,civil,Needed painting,NaN,2021-07-10,2.5,0 days
480,2021-07-10,0,0,222,Medium,electrical,standing lamp not working,NaN,2021-07-10,1.5,0 days
481,2021-07-10,0,0,140,Medium,General,TV setup box issue,NaN,2021-07-10,1.5,0 days